<h1 align='center'>
 <b>ETL (Extract Transform and Load)</b>
</h1>

In [4]:
import pandas as pd
import numpy as np

## **Penetración de Internet fijo (accesos por cada 100 hogares)**
### **Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia**

In [3]:
InternetPenetracion_df = pd.read_csv("Data_Origen/Internet_Penetracion.csv")
InternetPenetracion_df.drop_duplicates(inplace=True)
InternetPenetracion_df = InternetPenetracion_df.reset_index(drop=True)
InternetPenetracion_df.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022
3,2021,4,"73,18","22,81",Oct-Dic 2021
4,2021,3,"70,58","21,98",Jul-Sept 2021

In [4]:
InternetPenetracion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo                       35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [26]:
# Reesmplazamos las comas por punto
InternetPenetracion_df['Accesos por cada 100 hab'] = InternetPenetracion_df['Accesos por cada 100 hab'].str.replace(",",".").astype(float)
InternetPenetracion_df['Accesos por cada 100 hogares'] = InternetPenetracion_df['Accesos por cada 100 hogares'].str.replace(",",".").astype(float)
InternetPenetracion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     float64
 3   Accesos por cada 100 hab      35 non-null     float64
 4   Periodo                       35 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ KB

In [27]:
InternetPenetracion_df.to_excel("Data_ETL/InternetPenetracion.xlsx",index=False)

### Internet penetración por provincia

In [35]:
InternetPenetracionPorProvincia_df = pd.read_csv("Data_Origen/InternetPenetracionPorProvincia.csv")
InternetPenetracionPorProvincia_df.drop_duplicates(inplace=True)
InternetPenetracionPorProvincia_df = InternetPenetracionPorProvincia_df.reset_index(drop=True)
InternetPenetracionPorProvincia_df.head(5)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

In [29]:
InternetPenetracionPorProvincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [36]:
# Cambiamos la coma por punto y convertims en flotante
InternetPenetracionPorProvincia_df['Accesos por cada 100 hogares'] = InternetPenetracionPorProvincia_df['Accesos por cada 100 hogares'].str.replace(",",".").astype(float)
InternetPenetracionPorProvincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB

In [38]:
# Exportamos a un excel
InternetPenetracionPorProvincia_df.to_excel("Data_ETL/InternetPenetracionPorProvincia.xlsx",index=False)

## **Ingresos trimestrales por la prestación del servicio de Internet fijo**
### Ingresos trimestrales de los operadores por el servicio de Internet fijo

In [17]:
InternetIngresos_df = pd.read_csv("Data_Origen/Internet_Ingresos.csv")
InternetIngresos_df.drop_duplicates(inplace=True)
InternetIngresos_df = InternetIngresos_df.reset_index(drop=True)
InternetIngresos_df.head(5)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021

In [18]:
InternetIngresos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [21]:
# Cambiamos el punto por coma y convertims en flotante
InternetIngresos_df['Ingresos (miles de pesos)'] = InternetIngresos_df['Ingresos (miles de pesos)'].str.replace(".","").astype(float)
InternetIngresos_df.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3                 67055930.0  Jul-Sept 2022
1  2022          2                 60335724.0   Abr-Jun 2022
2  2022          1                 55589997.0   Ene-Mar 2022
3  2021          4                 45467887.0   Oct-Dic 2021
4  2021          3                 42999944.0  Jul-Sept 2021

In [22]:
# Exportamos a un excel
InternetIngresos_df.to_excel("Data_ETL/InternetIngresos.xlsx",index=False)

## **Total nacional de accesos a Internet fijo por banda ancha y banda angosta**

### **Accesos por periodo**

In [5]:
AccesosaInternetFijo_df = pd.read_excel("Data_Origen/AccesosaInternetFijo.xlsx")
AccesosaInternetFijo_df.drop_duplicates(inplace=True)
AccesosaInternetFijo_df = AccesosaInternetFijo_df.reset_index(drop=True)
AccesosaInternetFijo_df.head(5)

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2022          3          11078691    12437  11091128  Jul-Sept 2022
1  2022          2          10946248    12436  10958684   Abr-Jun 2022
2  2022          1          10611390    12619  10624009   Ene-Mar 2022
3  2021          4          10476933    12861  10489794   Oct-Dic 2021
4  2021          3          10075184    10357  10085541  Jul-Sept 2021

In [7]:
AccesosaInternetFijo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     int64
 3   Dial up           35 non-null     int64
 4   Total             35 non-null     int64
 5   Periodo           35 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

### **Accesos por Provincia**

In [18]:
AccesosaInternetFijoPorProvincia_df = pd.read_excel("Data_Origen/AccesosaInternetFijoPorProvincia.xlsx")
AccesosaInternetFijoPorProvincia_df.drop_duplicates(inplace=True)
AccesosaInternetFijoPorProvincia_df = AccesosaInternetFijoPorProvincia_df.reset_index(drop=True)
AccesosaInternetFijoPorProvincia_df.head(5)

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Año  Trimestre        Provincia  Banda ancha fija Dial up    Total
0  2022          3     Buenos Aires           4715469    6199  4721668
1  2022          3  Capital Federal           1545534    2145  1547679
2  2022          3        Catamarca             70292       1    70293
3  2022          3            Chaco            144141       5   144146
4  2022          3           Chubut            164874     904   165778

In [16]:
AccesosaInternetFijoPorProvincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           838 non-null    object
 5   Total             840 non-null    int64
dtypes: int64(4), object(2)
memory usage: 39.5+ KB

In [19]:
AccesosaInternetFijoPorProvincia_df['Dial up'] = AccesosaInternetFijoPorProvincia_df['Dial up'].replace("- 0","0")
AccesosaInternetFijoPorProvincia_df['Dial up'] = AccesosaInternetFijoPorProvincia_df['Dial up'].replace(","," ")
AccesosaInternetFijoPorProvincia_df['Dial up'].fillna("0",inplace=True)
AccesosaInternetFijoPorProvincia_df['Dial up'] = AccesosaInternetFijoPorProvincia_df['Dial up'].astype(float)
AccesosaInternetFijoPorProvincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           840 non-null    float64
 5   Total             840 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 39.5+ KB

In [20]:
AccesosaInternetFijoPorProvincia_df.to_excel("Data_ETL/AccesosaInternetFijoPorProvincia.xlsx",index=False)

In [21]:
AccesosaInternetFijoPorProvincia_df['Provincia'].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

# **Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral)**

### **Por periodo**

In [29]:
AccesosaInternetFijoPorTecnologia_df = pd.read_excel("Data_Origen/AccesosaInternetFijoPorTecnologia.xlsx")
AccesosaInternetFijoPorTecnologia_df.drop_duplicates(inplace=True)
AccesosaInternetFijoPorTecnologia_df = AccesosaInternetFijoPorTecnologia_df.reset_index(drop=True)
AccesosaInternetFijoPorTecnologia_df.head(5)

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
1,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
2,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
3,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
4,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021

In [26]:
AccesosaInternetFijoPorTecnologia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int64
 3   Cablemodem    35 non-null     int64
 4   Fibra óptica  35 non-null     int64
 5   Wireless      35 non-null     int64
 6   Otros         35 non-null     int64
 7   Total         35 non-null     int64
 8   Periodo       35 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.6+ KB

In [30]:
AccesosaInternetFijoPorTecnologia_df.to_excel("Data_ETL/AccesosaInternetFijoPorTecnologia.xlsx",index=False)

### **Por provincia**

In [7]:
AccesosaInterentFijoPorTecnologiayProvincia_df = pd.read_excel("Data_Origen/AccesosaInternetFijoPorTecnologiayProvincia.xlsx")
AccesosaInterentFijoPorTecnologiayProvincia_df.drop_duplicates(inplace=True)
AccesosaInterentFijoPorTecnologiayProvincia_df = AccesosaInterentFijoPorTecnologiayProvincia_df.reset_index(drop=True)
AccesosaInterentFijoPorTecnologiayProvincia_df.head(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0
1,2022,3,Capital Federal,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0
2,2022,3,Catamarca,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0
3,2022,3,Chaco,27164.0,61800.0,44645.0,8178.0,2359.0,144146.0
4,2022,3,Chubut,45377.0,72212.0,9574.0,29784.0,8831.0,165778.0

In [9]:
AccesosaInterentFijoPorTecnologiayProvincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           841 non-null    object
 1   Trimestre     841 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    float64
 4   Cablemodem    840 non-null    float64
 5   Fibra óptica  840 non-null    float64
 6   Wireless      840 non-null    float64
 7   Otros         840 non-null    float64
 8   Total         840 non-null    float64
dtypes: float64(6), object(3)
memory usage: 59.3+ KB

In [10]:
AccesosaInterentFijoPorTecnologiayProvincia_df.to_excel("Data_ETL/AccesosaInterentFijoPorTecnologiayProvincia.xlsx",index=False)

# **Velocidad Media de bajada de Internet fijo**
### Serie histórica de la velocidad media de descarga de Internet nacional (trimestral)

### **Por Periodo**

In [31]:
VelocidadMediaDeBajadaDeInternetNacional_df = pd.read_excel("Data_Origen/VelocidadMediaDeBajadaDeInternetNacional.xlsx")
VelocidadMediaDeBajadaDeInternetNacional_df.drop_duplicates(inplace=True)
VelocidadMediaDeBajadaDeInternetNacional_df = VelocidadMediaDeBajadaDeInternetNacional_df.reset_index(drop=True)
VelocidadMediaDeBajadaDeInternetNacional_df.head(5)

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022
3  2021          4                   52.34   Oct-Dic 2021
4  2021          3                   48.46  Jul-Sept 2021

In [32]:
VelocidadMediaDeBajadaDeInternetNacional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     float64
 3   Trimestre.1             35 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

In [33]:
VelocidadMediaDeBajadaDeInternetNacional_df.rename(columns={'Trimestre.1':'Periodo'},inplace=True)

In [34]:
VelocidadMediaDeBajadaDeInternetNacional_df['Año'] = VelocidadMediaDeBajadaDeInternetNacional_df['Año'].astype(str)
VelocidadMediaDeBajadaDeInternetNacional_df['Trimestre'] = VelocidadMediaDeBajadaDeInternetNacional_df['Trimestre'].astype(str)

In [35]:
VelocidadMediaDeBajadaDeInternetNacional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     object
 1   Trimestre               35 non-null     object
 2   Mbps (Media de bajada)  35 non-null     float64
 3   Periodo                 35 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.2+ KB

In [40]:
VelocidadMediaDeBajadaDeInternetNacional_df.to_excel("Data_ETL/VelocidadMediaDeBajadaDeInternetNacional.xlsx",index=False)

### **Por Provincia**

In [41]:
HistoricoVelocidadInternet_df = pd.read_excel("Data_Origen/HistoricoVelocidadInternet.xlsx")
HistoricoVelocidadInternet_df.drop_duplicates(inplace=True)
HistoricoVelocidadInternet_df = HistoricoVelocidadInternet_df.reset_index(drop=True)
HistoricoVelocidadInternet_df.head(5)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                   70.19
1  2022          3  Capital Federal                  101.05
2  2022          3        Catamarca                   60.99
3  2022          3            Chaco                   53.21
4  2022          3           Chubut                   15.57

In [44]:
HistoricoVelocidadInternet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    object
 1   Trimestre               840 non-null    object
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

In [43]:
HistoricoVelocidadInternet_df['Año'] = HistoricoVelocidadInternet_df['Año'].astype(str)
HistoricoVelocidadInternet_df['Trimestre'] = HistoricoVelocidadInternet_df['Trimestre'].astype(str)

In [45]:
HistoricoVelocidadInternet_df.to_excel("Data_ETL/HistoricoVelocidadInternet.xlsx",index=False)

In [15]:
df1 = pd.read_csv("Data_Origen/Internet_Accesos-por-velocidad.csv")
df1.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778

In [13]:
df = pd.read_excel("Data_Origen/Internet_Accesos-por-velocidad (1).xlsx")
df.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [17]:
df2 = pd.read_excel("Data_Origen/Internet_Accesos-por-velocidad_provincia_sin rangos.xlsx")
df2.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2022.0,3.0,Buenos Aires,65821.0,19.0,0.0,0.0,29774.0,192.0,4611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,3.0,Capital Federal,105477.0,31.0,0.0,0.0,451.0,35.0,1307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,3.0,Catamarca,2208.0,0.0,0.0,0.0,34.0,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.0,3.0,Chaco,3711.0,0.0,225.0,111.0,234.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.0,3.0,Chubut,20024.0,8.0,0.0,0.0,69.0,32.0,836.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Columns: 172 entries, Año to 10000 Mbps
dtypes: float64(170), int64(1), object(1)
memory usage: 646.5+ KB

In [19]:
df3 = pd.read_csv("Data_Origen/AccesosaInternetfijoporvelocidaddebajadaylocalidad.csv")
df3.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN